@font-family-serif:       "Lora", Georgia, "Times New Roman", Times, serif;

@pagination-active-bg:                 @brand-primary;
@pagination-active-color:              #fff;

@code-bg: #002b36;
@pre-bg: #002b36;