_cache
_site
_temp
.cabal-sandbox
dikmax-name.tar.lzma
node_modules
dist
log/*.log
/server
/dikmax-name
/.idea
/less/*.css
/dart/pubspec.lock
/dart/packages
/dart/benchmark/packages
/dart/web/packages
/dart/.packages
/map/countries.json
/map/regions.json
/map/subunits.json
