
.fa-linkedin:before { content: '\e800'; } /* '' */
.fa-lastfm:before { content: '\e801'; } /* '' */
.fa-foursquare:before { content: '\e802'; } /* '' */
.fa-facebook:before { content: '\e803'; } /* '' */
.fa-github-circled:before { content: '\e804'; } /* '' */
.fa-gplus:before { content: '\e805'; } /* '' */
.fa-vkontakte:before { content: '\e806'; } /* '' */
.fa-youtube:before { content: '\e807'; } /* '' */
.fa-down-open:before { content: '\e808'; } /* '' */
.fa-up-open:before { content: '\e809'; } /* '' */
.fa-arrows-cw:before { content: '\e80a'; } /* '' */
.fa-cancel:before { content: '\e80b'; } /* '' */
.fa-stackoverflow:before { content: '\e80c'; } /* '' */
.fa-instagramm:before { content: '\e80d'; } /* '' */
.fa-comment:before { content: '\e80e'; } /* '' */
.fa-calendar:before { content: '\e80f'; } /* '' */
.fa-rss:before { content: '\e810'; } /* '' */
.fa-twitter:before { content: '\e811'; } /* '' */
.fa-search:before { content: '\e812'; } /* '' */
.fa-resize-full-alt:before { content: '\e813'; } /* '' */