<head>
    <title>$meta.title$</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, ya-title=fade, ya-dock=fade">

    <!--favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=NmYO8WoKWA">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=NmYO8WoKWA">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=NmYO8WoKWA" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=NmYO8WoKWA" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=NmYO8WoKWA" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=NmYO8WoKWA" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=NmYO8WoKWA">
    <meta name="msapplication-TileColor" content="#474747">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=NmYO8WoKWA">
    <meta name="theme-color" content="#474747">

    <link rel="yandex-tableau-widget" href="/yandex-widget-manifest.json" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
    <link rel="alternate" type="application/rss+xml" title="Лента" href="/feed.rss" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <meta name="keywords" content="$meta.keywords$" />
    <meta name="author" content="Maxim Dikun"/>
    <meta property="fb:admins" content="1201794820" />
    <meta property="og:site_name" content="[dikmax's blog]" />
    <meta property="og:title" name="title" itemprop="name" content="$meta.title$" />
    <meta property="og:url" content="$meta.url$" />
    <meta property="og:description" name="description" itemprop="description" content="$meta.description$" />
    <meta property="og:locale" content="ru_BY" />
    <meta property="fb:profile_id" content="1201794820" />
    $if(meta.facebook.nothing)$
    <meta property="og:type" content="website" />
    $endif$
    $if(meta.facebook.article)$
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="$meta.facebook.published$" />
    <meta property="article:author" content="1201794820" />
    <meta property="article:publisher" content="1201794820" />
    $for(meta.facebook.tags)$<meta property="article:tag" content="$body$" />
    $endfor$
    $for(meta.facebook.images)$<meta property="og:image" content="$body$" />
    <link rel="image_src" href="$body$"/>
    $endfor$
    <meta itemprop="image" content="https://dikmax.name$meta.cover$" />
    $endif$

    $partial("templates/_google-analytics.html")$
</head>
