<div class="panel panel-default post-container">
    <div class="panel-body post-body">
        <h1>$title$</h1>

        $body$
    </div>

    $partial("templates/_post-footer.html")$

    $if(collection)$
        $collection$
    $endif$

    <!--
    <div class="related-posts">
        <div class="collection-name">
            <p>Поездка в США</p>
        </div>
        <div class="collection">
            <a href="/post/new-york-2014-1/">
                <div class="cover">
                    <img src="/images/covers/new-york-2014-1.jpg">
                    <div class="title-background">
                        <div class="title">
                            Нью-Йорк: Часть 1
                        </div>
                    </div>
                </div>
            </a><div class="cover">
                <a href="/post/new-york-2014-2/">
                    <img src="/images/covers/new-york-2014-2.jpg">
                </a>

                <a href="/post/new-york-2014-2/">
                    <div class="title-background">
                        <div class="title">
                            Нью-Йорк: Часть 2
                        </div>
                    </div>
                </a>
            </div><div class="cover">
                <img src="/images/covers/new-york-2014-3-central-park.jpg">
                <div class="title-background">
                    <div class="title">
                        Нью-Йорк: Часть 3 — Central Park
                    </div>
                </div>
            </div><div class="cover">
                <img src="/images/covers/new-york-2014-4-more-parks.jpg">
                <div class="title-background">
                    <div class="title">
                        Нью-Йорк: Часть 4 — ещё парки
                    </div>
                </div>
            </div><div class="cover">
                <img src="/images/covers/washington-dc-2014.jpg">
                <div class="title-background">
                    <div class="title">
                        Вашингтон
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <div id="disqus_thread" class="panel-body">
        $comments$
    </div>

    $partial("templates/_disqus-post.html")$
</div>
