<div class="panel panel-default post-container" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="panel-body post-body">
        <h1><a itemprop="url" href="/$url$">$title$</a></h1>

        $if(teaser)$
            $teaser$

            $if(readmore)$
                <p><a href="/$url$">$readmore$</a></p>
            $else$
                <p><a href="/$url$">Читать дальше...</a></p>
            $endif$
        $else$
            $body$
        $endif$
    </div>
    $partial("templates/_post-footer.html")$
</div>
