<script type="text/javascript" src="/js/closure-library/closure/goog/base.js"></script>
<script type="text/javascript">
    goog.LOCALE = 'ru';
</script>
<script type="text/javascript" src="/js/deps.js"></script>
<script type="text/javascript" src="/js/highlight.pack.js"></script>
<script type="text/javascript" src="/js/dikmax/main.js"></script>
<script type="text/javascript">
    dikmax.main();
</script>
<script async='async' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML' type='text/javascript'></script>