<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">[dikmax's blog]</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-collapsible-block">
            <ul class="nav navbar-nav">
                <li><a href="/map/">Путешествия</a></li>
                <li><a href="/projects/">Проекты</a></li>
                <li><a href='/archive/'>Архив</a></li>
                <li><a href='/about/'>Обо мне</a></li>
            </ul>

            <div class="nav navbar-nav navbar-right navbar-form hidden-xs hidden-sm">
                <a class="btn btn-facebook navbar-btn" href="https://www.facebook.com/dikmax.name" title="Facebook">
                    <i class="fa fa-facebook fa-lg fa-fw"></i></a>
                <a class="btn btn-rss navbar-btn" href="/feed.rss" title="RSS"><i class="fa fa-rss fa-lg fa-fw"></i></a>
                <a class="btn btn-github navbar-btn" href="https://github.com/dikmax/dikmax.name" title="Исходный код сайта на GitHub">
                    <i class="fa fa-github-circled fa-lg fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
