<!DOCTYPE html>
<html>
$partial("templates/_head.html")$
<body class="index-page">
$partial("templates/_topbar.html")$

<div class="jumbotron">
    <div class="container">
        $body$
    </div>
</div>
<div class="container">
    <div class="panel-group">
        $for(posts)$
            $partial("templates/_post-list.html")$
        $endfor$
    </div>

    $partial("templates/_pager.html")$

    $partial("templates/_footer.html")$
</div>
$partial("templates/_disqus-list.html")$
$partial("templates/_scripts.html")$
</body>
</html>


