<!DOCTYPE html>
<html>
$partial("templates/_head.html")$
<body>
$partial("templates/_topbar.html")$

<div class="container">
    <div class="panel-group">
        $body$

        $partial("templates/_footer.html")$
    </div>
</div>
$partial("templates/_yandex-metrika.html")$
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>
<script type="application/dart" src="/dart/web/route-planner.dart"></script>
<script type="text/javascript" src="/dart/packages/browser/dart.js"></script>
</body>
</html>


