<!DOCTYPE html>
<html>
$partial("templates/_head.html")$
<body>
$partial("templates/_topbar.html")$

<div class="container">
    <div class="text-center">
        <ul class="pagination pagination-lg">
            $for(years)$
            <li><a href="$href$">$year$</a></li>
            $endfor$
            <li class="active"><a href="/tags/">Теги</a></li>
        </ul>
    </div>

    <div class="panel-group">
        <div class="panel panel-default post-container">
            <div class="panel-body post-body">
                $body$
            </div>
        </div>
        $partial("templates/_footer.html")$
    </div>
</div>
$partial("templates/_yandex-metrika.html")$
$partial("templates/_scripts.html")$
</body>
</html>